.container{
    max-width: 100% !important;
}
.row{
    height: 50vh; 
}
#aeonic{
    font-weight: bold;
    font-size: x-large;
    background-color: yellow;
    
}
#baggage{
    color: white;
    background-color: black;
}
#business{
    background-color: white;
}
#br{
    color: white;
    background-color: lightgray;
}
#arrivals{
    color: white;
    background-color: grey;
}
ul{
    list-style: none;
    padding-top: 20px;
    margin-left: -20px;
}
i{
padding-top: 230px;
}

a i {
    text-decoration: none;
    color: white;
    
}

a i:hover{
    color: lightblue;
    
    
}
.bs{
    color: black;
}
p{
    font-weight: normal;
    font-size: medium;
    padding-top: 70px;
}

